
# ==========================================
# SECRET FILES
# ==========================================

# Local Secrets
.streamlit/secrets.toml
secrets.toml

# Environment Variables
.env
.env.*

.venv